body {
  margin:0px;
  background-color:rgba(250, 250, 250, 1);
  background-image:none;
  position:static;
  left:auto;
  width:4173px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:278px;
  width:75px;
  height:16px;
}
#u2183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:278px;
  width:43px;
  height:16px;
}
#u2184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:1243px;
  top:864px;
  width:0px;
  height:0px;
}
#u2185_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:4px;
  height:8px;
}
#u2185_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:121px;
}
#u2185_seg2 {
  border-width:0px;
  position:absolute;
  left:-352px;
  top:109px;
  width:356px;
  height:8px;
}
#u2185_seg3 {
  border-width:0px;
  position:absolute;
  left:-352px;
  top:109px;
  width:8px;
  height:83px;
}
#u2185_seg4 {
  border-width:0px;
  position:absolute;
  left:-358px;
  top:178px;
  width:20px;
  height:20px;
}
#u2185_text {
  border-width:0px;
  position:absolute;
  left:-207px;
  top:104px;
  width:100px;
  word-wrap:break-word;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:1618px;
  width:0px;
  height:0px;
}
#u2186_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u2186_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:52px;
  width:20px;
  height:20px;
}
#u2186_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:2237px;
  width:0px;
  height:0px;
}
#u2187_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:83px;
}
#u2187_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:66px;
  width:20px;
  height:20px;
}
#u2187_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:560px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:304px;
  width:281px;
  height:560px;
}
#u2188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:560px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:304px;
  width:281px;
  height:560px;
}
#u2189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:560px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:1055px;
  width:281px;
  height:560px;
}
#u2190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:560px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:1683px;
  width:281px;
  height:560px;
}
#u2191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:795px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:1452px;
  top:1055px;
  width:281px;
  height:795px;
}
#u2192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:1243px;
  top:864px;
  width:0px;
  height:0px;
}
#u2193_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:117px;
}
#u2193_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:109px;
  width:358px;
  height:8px;
}
#u2193_seg2 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:109px;
  width:8px;
  height:82px;
}
#u2193_seg3 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:178px;
  width:20px;
  height:20px;
}
#u2193_text {
  border-width:0px;
  position:absolute;
  left:108px;
  top:105px;
  width:100px;
  word-wrap:break-word;
}
#u2194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:2594px;
  top:1097px;
  width:100px;
  height:60px;
}
#u2194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:2927px;
  top:1097px;
  width:100px;
  height:60px;
}
#u2195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:3280px;
  top:1097px;
  width:100px;
  height:60px;
}
#u2196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:3663px;
  top:1097px;
  width:100px;
  height:60px;
}
#u2197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:2764px;
  top:1097px;
  width:100px;
  height:60px;
}
#u2198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:2694px;
  top:1127px;
  width:0px;
  height:0px;
}
#u2199_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u2199_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2199_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:2864px;
  top:1127px;
  width:0px;
  height:0px;
}
#u2200_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u2200_seg1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2200_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:3149px;
  top:1097px;
  width:0px;
  height:0px;
}
#u2201_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:8px;
  height:9px;
}
#u2201_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-48px;
  width:8px;
  height:47px;
}
#u2201_seg2 {
  border-width:0px;
  position:absolute;
  left:-339px;
  top:-48px;
  width:343px;
  height:8px;
}
#u2201_seg3 {
  border-width:0px;
  position:absolute;
  left:-339px;
  top:-48px;
  width:8px;
  height:48px;
}
#u2201_seg4 {
  border-width:0px;
  position:absolute;
  left:-345px;
  top:-13px;
  width:20px;
  height:20px;
}
#u2201_text {
  border-width:0px;
  position:absolute;
  left:-218px;
  top:-52px;
  width:100px;
  word-wrap:break-word;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:3027px;
  top:1127px;
  width:0px;
  height:0px;
}
#u2202_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u2202_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2202_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:3576px;
  top:1127px;
  width:0px;
  height:0px;
}
#u2203_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:93px;
  height:8px;
}
#u2203_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2203_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:3099px;
  top:1097px;
  width:100px;
  height:60px;
}
#u2204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:3199px;
  top:1127px;
  width:0px;
  height:0px;
}
#u2205_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u2205_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2205_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:2977px;
  top:1157px;
  width:0px;
  height:0px;
}
#u2206_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u2206_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:52px;
  width:746px;
  height:8px;
}
#u2206_seg2 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:0px;
  width:8px;
  height:60px;
}
#u2206_seg3 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:-7px;
  width:20px;
  height:20px;
}
#u2206_text {
  border-width:0px;
  position:absolute;
  left:319px;
  top:48px;
  width:100px;
  word-wrap:break-word;
}
#u2207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:560px;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:2316px;
  width:281px;
  height:560px;
}
#u2207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:560px;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:1827px;
  top:304px;
  width:281px;
  height:560px;
}
#u2208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:560px;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:2210px;
  top:304px;
  width:281px;
  height:560px;
}
#u2209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:560px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:2594px;
  top:304px;
  width:281px;
  height:560px;
}
#u2210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:671px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:1827px;
  top:1848px;
  width:281px;
  height:671px;
}
#u2211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:1968px;
  top:864px;
  width:0px;
  height:0px;
}
#u2212_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u2212_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:8px;
  height:117px;
}
#u2212_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:105px;
  width:9px;
  height:8px;
}
#u2212_seg3 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:105px;
  width:8px;
  height:86px;
}
#u2212_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:178px;
  width:20px;
  height:20px;
}
#u2212_text {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:88px;
  width:100px;
  word-wrap:break-word;
}
#u2213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:1918px;
  top:2596px;
  width:100px;
  height:60px;
}
#u2213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:1968px;
  top:2519px;
  width:0px;
  height:0px;
}
#u2214_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:81px;
}
#u2214_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:64px;
  width:20px;
  height:20px;
}
#u2214_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:1946px;
  top:278px;
  width:43px;
  height:16px;
}
#u2215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:2329px;
  top:278px;
  width:43px;
  height:16px;
}
#u2216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:613px;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:1827px;
  top:1055px;
  width:281px;
  height:613px;
}
#u2217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:1968px;
  top:1668px;
  width:0px;
  height:0px;
}
#u2218_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:184px;
}
#u2218_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:167px;
  width:20px;
  height:20px;
}
#u2218_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:82px;
  width:100px;
  word-wrap:break-word;
}
#u2219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:613px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:2210px;
  top:1055px;
  width:281px;
  height:613px;
}
#u2219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:2108px;
  top:1362px;
  width:0px;
  height:0px;
}
#u2220_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u2220_seg1 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2220_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:2351px;
  top:1055px;
  width:0px;
  height:0px;
}
#u2221_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-101px;
  width:8px;
  height:101px;
}
#u2221_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-101px;
  width:392px;
  height:8px;
}
#u2221_seg2 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:-191px;
  width:8px;
  height:98px;
}
#u2221_seg3 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:-198px;
  width:20px;
  height:20px;
}
#u2221_text {
  border-width:0px;
  position:absolute;
  left:140px;
  top:-105px;
  width:100px;
  word-wrap:break-word;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:2108px;
  top:584px;
  width:0px;
  height:0px;
}
#u2222_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u2222_seg1 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2222_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:2070px;
  top:417px;
  width:38px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:1543px;
  top:1948px;
  width:100px;
  height:60px;
}
#u2224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:1593px;
  top:1850px;
  width:0px;
  height:0px;
}
#u2225_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:102px;
}
#u2225_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:85px;
  width:20px;
  height:20px;
}
#u2225_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:628px;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:304px;
  width:281px;
  height:628px;
}
#u2226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:618px;
  width:0px;
  height:0px;
}
#u2227_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u2227_seg1 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-38px;
  width:8px;
  height:42px;
}
#u2227_seg2 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-38px;
  width:36px;
  height:8px;
}
#u2227_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2227_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:406px;
  width:281px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:413px;
  width:281px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:125px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 245, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:1827px;
  top:2320px;
  width:281px;
  height:125px;
}
#u2230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:146px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 245, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:1452px;
  top:1630px;
  width:281px;
  height:146px;
}
#u2231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:38px;
  background:inherit;
  background-color:rgba(229, 28, 35, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 28, 35, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:2034px;
  top:2481px;
  width:74px;
  height:38px;
  font-size:12px;
  color:#FFFFFF;
}
#u2232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u2233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
  background:inherit;
  background-color:rgba(135, 135, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(135, 135, 135, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:2318px;
  top:367px;
  width:66px;
  height:29px;
}
#u2233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:3476px;
  top:1097px;
  width:100px;
  height:60px;
}
#u2234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:3380px;
  top:1127px;
  width:0px;
  height:0px;
}
#u2235_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u2235_seg1 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2235_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:3476px;
  top:1161px;
  width:100px;
  height:26px;
}
#u2236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u2237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:171px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3677px;
  height:2px;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:211px;
  width:3676px;
  height:1px;
}
#u2238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:1672px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(223, 223, 223, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:85px;
  width:252px;
  height:1672px;
}
#u2239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:381px;
  width:246px;
  height:40px;
}
#u2240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:381px;
  width:5px;
  height:40px;
}
#u2241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:209px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:163px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:393px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:534px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2246 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:301px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:347px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:439px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:115px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:485px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4163px;
  height:75px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:4163px;
  height:75px;
}
#u2251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:38px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:255px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:171px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:171px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:171px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:171px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:171px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:233px;
  width:141px;
  height:16px;
  color:#008000;
}
#u2259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:171px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
